/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.clear{ clear: both } 

a {
    text-decoration: none;
}

h3, h4 {
    font-weight: normal;
}

body{
    background: #012f59;
    text-align: center;
}

#wrapper{
    display: inline-block;
    text-align: left;
    max-width: 960px;
}

#header{
    background: #111213;
    overflow: hidden;
    padding-bottom: 25px;
}

#header .logo {
    padding: 30px 0 0 27px;
    float: left;
}

#header .right-banner {
    padding: 70px 23px 0 0;
    float: right;
    overflow: hidden;
    position: relative;
}

#header .right-banner .search {
    width: 125px;
    height: 19px;
    background: url(../img/search.png);
    position: absolute;
    right: 23px;
    top: 18px;
    float: right;
    
}

#header .right-banner .search .search-btn {
    display: inline-block;
    width: 23px;
    height: 19px;
    background: url(../img/btn-search.png);
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

#header .right-banner .search .search-input {
    position: absolute;
    left: 25px;
    top: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 90px;
    height: 12px;
}

#header .right-banner .nav {
    color: #fff;
    float: right;
}

#header .right-banner .nav li {
    float: left;
    list-style: none;
    margin-left: 15px;
    font-size: 12px;
}

#header .right-banner .nav li a {
    color: #fff;
}

#container #slides {
    position: relative;
    background: #111213;
    display: none;
}

#container #slides a {
    color: #fff;
}



#container .slidesjs-pagination {
    position: absolute;
    left: 0px;
    top: 0;
    display: none;
}

#slides .slidesjs-previous {
    position: absolute;
    left: 0px;
    top: 90px;
    z-index: 10;
    cursor: pointer;
}

#slides .slidesjs-next {
    position: absolute;
    right: 0px;
    top: 90px;
    z-index: 10;
    cursor: pointer;
}

#container .blackbar {
    overflow: hidden;
    background: #111213;
    color: #a3a3a3;

}

#container .blackbar-left {
    float: left;
    font-size: 26px;
    max-width: 555px;
    padding: 38px 0 38px 30px;
}

#container .blackbar-right {
    float: right;
    padding: 25px 0;
}

#container .content {
    overflow: hidden;
    background: #fff;
}

#container .content .post {
    float: left;
}

#container .content .post li {
    overflow: hidden;
    padding: 30px;
    background: url(../img/Shape-2.png) no-repeat left bottom;
}

#container .content .post li p {
    max-width: 440px;
    font-size: 14px;
}

#container .content .post .post-img {
    float: left;
}

#container .content .post .post-content {
    float: right;
    padding-left: 30px;
    color: #303030;
}

#container .content .post .post-content h4 {
    font-size: 24px;
    padding-top: 2px;
}

#container .content .post .post-content .date {
    font-size: 10px;
    color: #2780b0;
    margin:5px 0 10px 0;
}

#container .content .post button {
    width: 141px;
    height: 28px;
    border: 0;
    padding: 0;
    color: #e2e1e1;
    cursor: pointer;
    background: url(../img/Shape-1.png)
}
#container .content .post .button {
    margin-top: 15px;
}

#container .content .post .page {
    padding: 40px 30px;
}

#container .content .sidebar {
    float: right;
    background: #ebebeb;
    padding: 0 49px 20px 21px;
    color: #303030;
    font-size: 14px;
    
}

#container .content .sidebar h3 {
    padding:36px 0 32px 0;
    font-size: 24px;
}

#container .content .sidebar a {
    color: #2780b0;
}

#container .content .sidebar .shop .link {
    margin-top: 5px;
}


#container .content .sidebar .event .link {
    margin-top: 25px;
}

#container .sponsors {
    background: #fff;
    padding: 0 30px;
}

#container .sponsors h3 {
    font-size: 25px;
    color: #303030;
}

#container .sponsors .sponsors-list {
    padding: 30px 0
}

#footer {
    overflow: hidden;
    padding: 25px 0 30px 30px;
    background: #111213;
    color: #5d5c5c;
    font-size: 14px;
}

#footer h3 {
    color: #fff;
    font-size: 24px;
    padding-bottom: 20px;
}

#footer .about-us {
    float: left;
    max-width: 278px;
    padding-bottom: 30px;
}

#footer .about-us .point {
    color: #a3a3a3;
    margin: 20px 0;
}

#footer .foot-banner {
    float: left;
    margin-left: 50px;
}

#footer .contact {
    float: left;
    margin-left: 50px;
}

#footer .contact h4 {
    color: #a3a3a3;
    margin-bottom: 10px;
    font-size: 15px;
}

#footer .contact .social {
    margin-top: 20px;
}

